[[source]]
url = "https://mirrors.zju.edu.cn/pypi/web/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
flask = "==2.1.2"
requests = "==2.27.1"
gevent = "==21.12.0"
pyyaml = "==6.0"

[dev-packages]

[requires]
python_version = "3.9"
