* {
	margin: 0;
	padding: 0;
}
body {
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
}

.main {
	width: 500px;
	margin: auto;
	margin-top: 100px;
	/* border: solid 1px gainsboro;
	border-radius: 4px; */
}

.link1 {
	font-size: 20px;
	padding: 20px 0 5px 50px;
}

textarea {
	border: 1px solid gainsboro;
	width: 300px;
    height: 100px;
    vertical-align: top;
    resize: none;
	padding-left: 10px;
	border-radius: 5px;
	font-size: 15px;
}
input {
	border: 1px solid gainsboro;
	width: 300px;
	height: 30px;
	padding-left: 10px;
	border-radius: 5px;
	font-size: 15px;
}

input:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(102, 175, 233, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(102, 175, 233, 0.6);
}

button {
	width: 100px; /*设置按钮宽度*/
	height: 35px; /*设置按钮高度*/
	color: white; /*字体颜色*/
	background-color: rgb(119, 119, 119); /*按钮背景颜色*/
	border-radius: 3px; /*让按钮变得圆滑一点*/
	border-width: 0; /*消去按钮丑的边框*/
	margin: 0;
	outline: none; /*取消轮廓*/

	font-size: 17px; /*设置字体大小*/
	text-align: center; /*字体居中*/
	cursor: pointer; /*设置鼠标箭头手势*/
}

button:hover {
	background-color: #474747;
}

.footer {
	text-align: center;
	margin-top: 20px;
}
a {
	text-decoration: none;
	position: relative;
	color: #777777;
}
a:hover {
	text-decoration: underline;
	color:#474747;
}